/* Heading section */
#heading {
    background: rgb(143, 143, 235);
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

body {
    
    background: rgb(61, 58, 58) !important;
}

#heading h3, #heading h1{
    padding: 0;
    margin: 0;
}


/* Navbar Section */

#nav {
    background: white;
    margin: 0;
}

#attemptInfo {
    padding: 30px;
}


#nav .btn {
     color: rgb(114, 114, 240);
}

/* Colors Section */

#colorDisplay .color {
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 15px;    
}

